.d3map {
	svg {
		width: 100%;
	}

	.state,.county {
		stroke: black;

		text {
			fill: black;
		}
	}

	.county {
		stroke: #808080;

		text {
			fill: black;
		}
	}

	.stateMap {
		.state {
			fill: white;
			stroke-width: 1px;
		}
	}

	.countyMap {
		.county {
			fill: white;
			stroke-width: 1px;
		}

		.state {			
			fill: none;
			stroke-width: 2px;
		}
	}

	.worldMap {
		.country {
			fill: white;
			stroke-width: 1px;
			stroke: black;			
		}
	}

	.stateLabel {
		text-anchor: middle;
		font-size: 14px;
		fill: black;
	}
}